{% extends 'base.html' %}

{% block content %}

<div class="container mx-auto mt-5 p-10 unded shadow-lg">
    <h1 class="text-2xl font-bold">{{ advert.owner }}'s <em>{{advert.subject}}</em> advert</h1>

    {% if request.user.is_authenticated and request.user == advert.owner %}
    <a href="{% url 'advert_update' advert.id %}" class="text-blue-500">Update advert</a>
    {% endif %}

    <h2 class="text-xl font-bold mt-4">Average Rating</h2>
    <p>{{ advert.get_average_rating|default:"No reviews"}}</p>

    <h2 class="text-xl font-bold mt-4">Description</h2>
    <p>{{ advert.description }}</p>

    <h2 class="text-xl font-bold mt-4">Reviews</h2>
    {% for review in advert.reviews.all %}
    <p><a href="{% url 'review_detail' review.id %}" class="text-blue-500">{{ review.reviewer }} - {{ review.review }}</a></p>
    {% endfor %}

    <h2 class="text-xl font-bold mt-4">Applications</h2>
    {% for application in advert.applications.all %}
    <p><a href="{% url 'application_detail' application.id %}" class="text-blue-500">
            {{ application.applicant }} - {{ application.description}}</a></p>
    {% endfor %}

    {% if user.is_authenticated %}
    <a href="{% url 'application_create' advert.id %}" class="text-blue-500">Create application</a>

    <a href="{% url 'review_create' advert.id %}" class="text-blue-500">Create review</a>
    {% endif %}
</div>

{% endblock %}