{% extends 'base.html' %}

{% block content %}

<div class="container mx-auto">
    <div class="flex justify-between">
        <h1 class="text-2xl font-bold">{{ advert.owner }}'s <em>{{advert.subject}}</em> advert</h1>

        {% if user.is_authenticated %}
        <span>
            {% if user == advert.owner %}
            <a href="{% url 'advert_update' advert.id %}" class="inline-block bg-green-500 text-white py-2 px-4 rounded hover:bg-blue-600">Update advert</a>
            {% elif user.profile.user.groups.all.0.name != 'teacher' %}
            <a href="{% url 'application_create' advert.id %}"
                class="inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Create application</a>
            <a href="{% url 'review_create' advert.id %}"
                class="inline-block bg-yellow-500 text-white py-2 px-4 rounded hover:bg-blue-600">Create review</a>
            {% endif %}
        </span>
        {% endif %}
    </div>

    <h2 class="text-xl font-bold mt-4">Average Rating</h2>
    <p>{{ advert.get_average_rating|default:"No reviews"}}</p>

    <h2 class="text-xl font-bold mt-4">Description</h2>
    <p>{{ advert.description }}</p>

    <h2 class="text-xl font-bold mt-4">Reviews</h2>
    <table class="border-collapse w-full mt-4">
        <thead>
            <tr>
                <th class="border border-blue-500 px-4 py-2">Reviewer</th>
                <th class="border border-blue-500 px-4 py-2">Rating</th>
                <th class="border border-blue-500 px-4 py-2">Review</th>
                <th class="border border-blue-500 px-4 py-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for review in advert.reviews.all %}
            <tr>
                <td class="border border-blue-500 px-4 py-2">
                    <a href="{% url 'profile_detail' review.reviewer.id %}" class="text-blue-500">
                        {{ review.reviewer }}</a>
                </td>
                <td class="border border-blue-500 px-4 py-2">{{ review.rating }}</td>
                <td class="border border-blue-500 px-4 py-2">{{ review.review }}</td>
                <td class="border border-blue-500 px-4 py-2">
                    <a href="{% url 'review_detail' review.id %}" class="text-blue-500">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if request.user.is_authenticated and request.user == advert.owner %}
    <h2 class="text-xl font-bold mt-4">Applications</h2>
    <table class="border-collapse w-full mt-4">
        <thead>
            <tr>
                <th class="border border-blue-500 px-4 py-2">Applicant</th>
                <th class="border border-blue-500 px-4 py-2">Status</th>
                <th class="border border-blue-500 px-4 py-2">Description</th>
                <th class="border border-blue-500 px-4 py-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for application in advert.applications.all %}
            <tr>
                <td class="border border-blue-500 px-4 py-2">
                    <a href="{% url 'profile_detail' application.applicant.id %}" class="text-blue-500">
                        {{ application.applicant }}</a>
                </td>
                <td class="border border-blue-500 px-4 py-2">{{ application.status }}</td>
                <td class="border border-blue-500 px-4 py-2">{{ application.description }}</td>
                <td class="border border-blue-500 px-4 py-2">
                    <a href="{% url 'application_detail' application.id %}" class="text-blue-500">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>

{% endblock %}