{% extends 'base.html' %}

{% block content %}

<div class="container p-5">
    <form class="flex items-center mb-5">
        <input type="text" name="query" placeholder="Ievadiet mācību priekšmeta nosaukumu" value="{{ form.query.value|default:'' }}"
            class="flex-grow p-2 border rounded-md focus:outline-none focus:border-slate-900">
        <button type="submit"
            class="bg-white text-black py-2 px-4 ml-2 rounded-md hover:bg-blue-600 focus:outline-none border-blue-700">
            Meklēt
        </button>
    </form>
    {% for subject in subject_list %}
    <div class="grid grid-cols-4 gap-8 border mt-12 mb-12">
        <p class="text-right pr-6 pt-10 pb-10">{{ subject.title }}</p>
        <p class="col-span-3 p-4">{{ subject.description }}</p>
    </div>
    {% endfor %}
</div>

<div class="container p-5">
    <h1 class="text-2xl font-bold mb-4">Subjects</h1>


    <table class="w-full border-collapse">
        <thead>
            <tr>
                <th class="py-2 px-4 bg-gray-200">Subject</th>
                <th class="py-2 px-4 bg-gray-200">Description</th>
                <th class="py-2 px-4 bg-gray-200">Advert count</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subject_list %}
            <tr>
                <td class="py-2 px-4 border hover:underline"><a href="{% url 'subject_detail' subject.id %}">
                        {{ subject.title }}</a></td>
                <td class="py-2 px-4 border">{{ subject.description }}</td>
                <td class="py-2 px-4 border">{{ subject.adverts.all.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}