{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Subjects</h1>

    <table>
        <thead>
            <tr>
                <th>Subject</th>
                <th>Description</th>
                <th>Advert count</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subject_list %}
            <tr>
                <td><a href="{% url 'subject_detail' subject.id %}">{{ subject.title }}</a></td>
                <td>{{ subject.description }}</td>
                <td>{{ subject.adverts.all.count }}</td>
            </tr>
            {% endfor %}
    </table>

</div>

{% endblock %}