{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Iemācies.lv</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body>

    {% include 'navbar.html' %}

    {% if messages %}
    <div class="container mx-auto rounded p-5 shadow-lg">
        <ul class="mt-4 list-disc list-inside">
            {% for message in messages %}
            {% if message.tags == 'success' %}
            <li class="text-green-500">{{ message }}</li>
            {% elif message.tags == 'error' %}
            <li class="text-red-500">{{ message }}</li>
            {% elif message.tags == 'warning' %}
            <li class="text-yellow-500">{{ message }}</li>
            {% elif message.tags == 'info' %}
            <li class="text-blue-500">{{ message }}</li>
            {% elif message.tags == 'debug' %}
            <li class="text-gray-500">{{ message }}</li>
            {% else %}
            <li>{{ message }}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="container mx-auto p-10 rounded-lg shadow-lg ">

        {% block content %}
        {% endblock %}

    </div>

</body>

</html>